.tool-main-normal {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 5vw;
}

.tool-h1-normal {
  font-size: 30px;
  user-select: none;
}
.icon-btn {
  margin: 0 5px;
  font-size: 30px;
  color: #606266;
  cursor: pointer;
  vertical-align: center;
}
.icon-btn:hover {
  color: #409eff;
}
.confirm-panel {
  max-width: 90vw;
}
